@{
    ViewBag.Title = "Home Page";
}


<img src="../Images/piered.png"  style="float: right; width: 200px;"/>

<h3>The Wall:</h3>
<ol class="round">
    <li class="one">
        <h5>Give your feedback about the course</h5>
       Now you can express what you feeling about the nasa course
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
    </li>

    <li class="three">
        <h5>See a statistics:</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
    </li>
</ol>

